
<h2 align="center"> Thermostat Readings </h2>
<% @thermostat.each do |t| %>

  <table cellspacing="0" cellpadding="0" width="80%" align="center" style="background-color:#FFF; color:#666666; font-family: avenir, Arial, 'Times New Roman', Times, serif;">
    <thead>
    <tr style="padding-top:10px; padding-bottom:10px; background-color:#f5f5f5;">
      <th>Id</th>
      <th>Household Token</th>
      <th>Location</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color:#32CD32; height:1px; font-size:0px;">
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td style="padding: 5px"><%= t.id %></td>
      <td style="text-align: center; padding: 5px;"><%= t.household_token %></td>
      <td style="text-align: center;padding: 5px"><%= t.location %></td>
      <td style="padding: 5px"><%= link_to "Stats", controller: "readings", action: "stats", household_token: t.household_token %><%#= link_to "Stats", stats_path(t.household_token) %></td>
    </tr>
    </tbody><br/>
  </table>
  <% if t.readings.present? %>
    <h5 style="margin-left:10%;">Thermostat Reading</h5>
    <table cellspacing="0" cellpadding="0" width="80%" align="center" style="background-color:#FFF; color:#999999;">
      <thead>
      <tr style="padding-top:10px; padding-bottom:10px; background-color:#f5f5f5;">
        <th>Tracking no.</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Battery Charge</th>
      </tr>
      </thead>
      <% t.readings.each do |r| %>
        <tbody>
        <tr>
          <td style="text-align: center;padding: 5px"><%= r.tracking_number %></td>
          <td style="text-align: center; padding: 5px;"><%= r.temperature %></td>
          <td style="text-align: center; padding: 5px;"><%= r.humidity %></td>
          <td style="text-align: center; padding: 5px;"><%= r.battery_charge %></td>
        </tr>
        </tbody>
      <% end %>
    </table><br/><br/><br/>
  <% else %>
    <h3>No reading found.</h3>
  <% end %>
<% end %>
